#table_wrap{
  width: 100%;
  overflow: auto;
}
#table_wrap table{
  min-width: 100%;
}
th, td {
  border: 1px solid #eee;
  text-align: center;
  height: 45px;
  padding: 10px;
  box-sizing: border-box;
}
th.action{
  width: 100px;
}
th.id{
  width: 80px;
}
tbody tr:nth-child(2n-1) {
  background: #eee;
}
td{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
td img{
  max-width: 100%;
}
