#table_wrap{
  width: 100%;
  overflow: auto;
}
th, td {
  border: 1px solid #eee;
  text-align: center;
  height: 45px;
  padding: 10px;
  box-sizing: border-box;
}
tbody tr:nth-child(2n-1) {
  background: #eee;
}
td{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
td img{
  width: 150px;
}
