#table_wrap{
  width: 100%;
  overflow: auto;
}
select{
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}
#result table{
  min-width: 1200px;
}
.checked{
  background: #333;
  color: #fff;
}
#count{
  text-align: right;
}
.attendance_cell{
  padding: 0;
  text-align: center;
}
.attendance_cell label{
  width: 100%;
  height: 100%;
  display: block;
}