#table_wrap{
  width: 100%;
  overflow: auto;
}
#table_wrap table{
  min-width: 1000px;
}
th, td {
  border: 1px solid #eee;
  text-align: center;
  height: 45px;
  padding: 10px;
  box-sizing: border-box;
}
tbody tr:nth-child(2n-1) {
  background: #eee;
}
td{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
th:last-child,
td:last-child{
  width: 340px;
}
.album_imgs{
  height: 200px;
  overflow-y: scroll;
}
.album_img{
  width: 280px;
  height: 100%;
  overflow: hidden;
}
.album_img img{
  width: 100%;
}
