th:last-child,
td:last-child{
  width: 340px;
}
.album_imgs{
  height: 200px;
  overflow-y: scroll;
}
.album_img{
  width: 280px;
  height: 100%;
  overflow: hidden;
}
.album_img img{
  width: 100%;
}
